<!--content-->
<div class="container" style="margin-top: 50px; margin-bottom: 50px">
  <div class="mb-3">
    <h3 style="text-align: center">Customer List</h3>
  </div>
  <div class="mb-3">
    <a routerLink="/customer/create" class="btn btn-success">Create Facility</a>
  </div>
  <div class="d-flex" style="margin: 0">
    <input #search class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button (click)="searchByName(search.value)" class="btn btn-outline-success" type="submit">Search</button>
  </div>
  <div class="row">
    <div class="table-list">
      <div class="table-responsive">
        <table class="table table-striped w-100" id="tableCustomer">
          <thead style="vertical-align: top; text-align: center">
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Day Of Birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let customer of customerList | paginate: { itemsPerPage: 1, currentPage: page}">
            <td>{{customer.code}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.dayOfBirth}}</td>
            <td>
              <span *ngIf="customer.gender == true">Nam</span>
              <span *ngIf="customer.gender == false">Nữ</span>
            </td>
            <td>{{customer.phoneNumber}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.address}}</td>
            <td>
              <a routerLink="/customer/edit/{{customer.id}}" class="btn btn-outline-primary btn-sm">Edit</a>
            </td>
            <td>
              <button (click)="getInfoDelete(customer.id,customer.name)" type="button"
                      class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
              </button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">DELETE CUSTOMER</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong>Bạn muốn xóa Customer: </strong>
        <span id="nameDelete" class="text-danger">{{nameDelete}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteCustomer()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--end content-->
