
<!--content-->
<div class="container" style="margin-top: 50px; margin-bottom: 50px">
  <div class="mb-3">
    <h3 style="text-align: center">Customer List</h3>
  </div>
  <div class="mb-3">
    <a routerLink="/customer/create" class="btn btn-success">Create Facility</a>
  </div>
  <div class="row">
    <div class="table-list">
      <div class="table-responsive">
        <table class="table table-striped w-100" id="tableCustomer">
          <thead style="vertical-align: top; text-align: center">
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Day Of Birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let customer of customerList">
            <td>{{customer.code}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.dayOfBirth}}</td>
            <td>
              <span *ngIf="customer.gender == true">Nam</span>
              <span *ngIf="customer.gender == false">Nữ</span>
            </td>
            <td>{{customer.phoneNumber}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.address}}</td>
            <td>
              <a routerLink="/customer/edit/{{customer.id}}" class="btn btn-primary">Edit</a>
            </td>
            <td>
              <a routerLink="/customer/delete/{{customer.id}}" class="btn btn-danger">Delete</a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--end content-->
