<div class="row" id="slide">
  <div id="content-slide">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../../../assets/img/Vietnam_Danang_Furama_Resort_Exterior-Furama-girl-with-pink-hat.jpg"
               class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Furama Resort</h5>
            <p>Khu nghỉ dưỡng toạ lạc tại bãi biển Đà Nẵng. Top 6 bãi biển đẹp nhất Thế Giới</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../../assets/img/Vietnam_Danang_Furama_Resort_Exterior_Courtyard.jpg" class="d-block w-100"
               alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Furama Resort</h5>
            <p>Khu nghỉ dưỡng toạ lạc tại bãi biển Đà Nẵng. Top 6 bãi biển đẹp nhất Thế Giới</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/Vietnam_Danang_Furama_Resort_Exterior_Ocean-Pool-6.jpg" class="d-block w-100"
               alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Furama Resort</h5>
            <p>Khu nghỉ dưỡng toạ lạc tại bãi biển Đà Nẵng. Top 6 bãi biển đẹp nhất Thế Giới</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<!--room type-->
<div class="row" id="roomType">
  <div id="content-roomType">
    <h4 style="color: #cbbe73">CÁC LOẠI PHÒNG</h4>
    <p>Khu nghỉ dưỡng có 196 phòng được thiết kế theo phong cách truyền thống Việt Nam kết hợp với phong cách
      Pháp, 2 tòa nhà 4 tầng có hướng nhìn ra biển, nhìn ra hồ bơi trong xanh và những khu vườn nhiệt đới xanh
      tươi mát. Ngoài ra, khu nghỉ dưỡng Furama còn cung cấp các liệu pháp spa, phòng xông hơi ướt, phòng
      xông hơi khô, dịch vụ mát-xa cạnh hồ bơi, các dịch vụ thể thao dưới nước và các lớp tập yoga và
      Thái Cực Quyền trên bãi biển.</p>
  </div>
</div>
<!--view all room text-->
<div class="row"><p style="text-align: center"><a href="#" style="color: #cbbe73; text-decoration: none">View all
  room</a></p></div>
<!--slide-roomType-->
<div class="row" id="slide-roomType">
  <div id="content-slide-roomType" class="d-flex">
    <div class="col-md-4">
      <img src="../../../assets/img/2.jpg" alt="2">
      <p style="font-weight: bold">PHÒNG SUPERIOR HƯỚNG BIỂN</p>
      <p>Diện tích phòng: 50m2</p>
    </div>
    <div class="col-md-4">
      <img src="../../../assets/img/3.jpg" alt="2">
      <p style="font-weight: bold">PHÒNG SUPERIOR HƯỚNG VƯỜN</p>
      <p>Diện tích phòng: 60m2</p>
    </div>
    <div class="col-md-4">
      <img src="../../../assets/img/4.jpg" alt="2">
      <p style="font-weight: bold">PHÒNG SUPERIOR HƯỚNG BIỂN</p>
      <p>Diện tích phòng: 40m2</p>
    </div>
  </div>
</div>
<div class="row" style="width: 70%; margin: 0 auto">
  <hr>
</div>
