<div class="container">
  <div class="mb-3" style="text-align: center"><h3>Product List</h3></div>
  <div class="mb-3">
    <button routerLink="/product/create" class="btn btn-success">
      Create new product
    </button>
  </div>
  <div class="row">
    <table class="table table-responsive table-hover table-striped">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as i">
          <td>{{i + 1}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td>
            <a routerLink="/product/edit/{{product.id}}" class="btn btn-primary">Edit</a>
          </td>
          <td>
            delete
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
