<!--banner-->
<div class="row" id="banner">
  <p class="text-white" style="font-size: 40px; font-family: 'Times New Roman'; text-align: center; margin-top:60px">Facility</p>
</div>
<!--end banner-->

<!--content-->
<div class="container" style="margin-top: 50px; margin-bottom: 50px">
  <div class="mb-3">
    <h3 style="text-align: center">Facility List</h3>
  </div>
  <div class="mb-3">
    <a routerLink="/facility/create" class="btn btn-success">Create Facility</a>
  </div>
  <div class="row">
    <div class="col-3" *ngFor="let facility of facilityList; index as i">
      <div class="card" style="width: 18rem;">
        <img src="{{facility.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{facility.name}}</h5>
          <p class="card-text">Area: {{facility.area}}m2</p>
          <p class="card-text">Max people: {{facility.maxPeople}} person</p>
          <a routerLink="/facility/edit" class="btn btn-outline-success">Edit</a>
          <a style="margin-left: 5px" href="#" class="btn btn-outline-danger">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end content-->
