<div class="row" id="roomType">
  <div id="content-roomType">
    <h4 style="color: #cbbe73">CÁC LOẠI PHÒNG</h4>
    <p>Khu nghỉ dưỡng có 196 phòng được thiết kế theo phong cách truyền thống Việt Nam kết hợp với phong cách
      Pháp, 2 tòa nhà 4 tầng có hướng nhìn ra biển, nhìn ra hồ bơi trong xanh và những khu vườn nhiệt đới xanh
      tươi mát. Ngoài ra, khu nghỉ dưỡng Furama còn cung cấp các liệu pháp spa, phòng xông hơi ướt, phòng
      xông hơi khô, dịch vụ mát-xa cạnh hồ bơi, các dịch vụ thể thao dưới nước và các lớp tập yoga và
      Thái Cực Quyền trên bãi biển.</p>
  </div>
</div>
<!--view all room text-->
<div class="row"><p style="text-align: center"><a href="#" style="color: #cbbe73; text-decoration: none">View all
  room</a></p></div>
<!--slide-roomType-->
<div class="row" id="slide-roomType">
  <div id="content-slide-roomType" class="d-flex">
    <div class="col-md-4">
      <img src="assets/img/2.jpg" alt="2">
      <p style="font-weight: bold">PHÒNG SUPERIOR HƯỚNG BIỂN</p>
      <p>Diện tích phòng: 50m2</p>
    </div>
    <div class="col-md-4">
      <img src="assets/img/3.jpg" alt="2">
      <p style="font-weight: bold">PHÒNG SUPERIOR HƯỚNG VƯỜN</p>
      <p>Diện tích phòng: 60m2</p>
    </div>
    <div class="col-md-4">
      <img src="assets/img/4.jpg" alt="2">
      <p style="font-weight: bold">PHÒNG SUPERIOR HƯỚNG BIỂN</p>
      <p>Diện tích phòng: 40m2</p>
    </div>
  </div>
</div>
<div class="row" style="width: 70%; margin: 0 auto">
  <hr>
</div>
