<!--Header-->
<div id="header" class="row">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="d-flex justify-content-start">
        <a class="navbar-brand" href="" style="color: white; font-weight: bold">
          Furama Resort Manager
        </a>
      </div>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn btn-outline-light">
          <span style="font-weight: bold">Login</span>
        </button>
      </div>
    </div>
  </nav>
</div>
<!--End Header-->
