<div class="container">
  <!--title-->
  <div class="row" style="margin-top: 20px">
    <h3 style="text-align: center">Create Customer</h3>
  </div>
  <!--end title-->
  <div class="row" style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-12" style="max-width: 60%; margin: 0 auto">
      <form [formGroup]="editCustomerForm" (ngSubmit)="updateCustomer()">

        <div class="input-group mb-3">
          <span class="input-group-text">Code</span>
          <input type="text" formControlName="code" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <p class="text-danger" *ngIf="editCustomerForm.controls.code?.errors?.required && editCustomerForm.controls.code?.touched">
          Không được để trống mã khách hàng
        </p>
        <p class="text-danger" *ngIf="editCustomerForm.controls.code?.errors?.pattern && editCustomerForm.controls.code?.touched">
          Sai định dạng
        </p>

        <div class="input-group mb-3">
          <span class="input-group-text">Name</span>
          <input type="text" formControlName="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <p class="text-danger" *ngIf="editCustomerForm.controls.name?.errors?.required && editCustomerForm.controls.name?.touched">
          Không được để trống
        </p>

        <div class="input-group mb-3">
          <span class="input-group-text">Day Of Birth</span>
          <input type="date" formControlName="dayOfBirth" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <p class="text-danger" *ngIf="editCustomerForm.controls.dayOfBirth?.errors?.required && editCustomerForm.controls.dayOfBirth?.touched">
          Không được để trống
        </p>

        <div class="input-group mb-3">
          <div class="form-check">
            <input class="form-check-input" formControlName="gender" type="radio" value="true" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>
          <div class="form-check" style="margin-left: 10px">
            <input class="form-check-input" formControlName="gender" type="radio"  value="false"  id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Female
            </label>
          </div>
        </div>
        <p *ngIf="editCustomerForm.controls.gender.pristine && editCustomerForm.controls.gender?.errors?.required" class="text-danger">Bắt buộc nhập</p>

        <div class="input-group mb-3">
          <span class="input-group-text">Id Card</span>
          <input type="number" formControlName="idCard" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <p class="text-danger" *ngIf="editCustomerForm.controls.idCard?.errors?.required && editCustomerForm.controls.idCard?.touched">
          Không được để trống
        </p>
        <p class="text-danger" *ngIf="editCustomerForm.controls.idCard?.errors?.pattern && editCustomerForm.controls.idCard?.touched">
          Sai định dạng
        </p>

        <div class="input-group mb-3">
          <span class="input-group-text">Phone Number</span>
          <input type="text" formControlName="phoneNumber" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <p class="text-danger" *ngIf="editCustomerForm.controls.phoneNumber?.errors?.required && editCustomerForm.controls.phoneNumber?.touched">
          Không được để trống
        </p>
        <p class="text-danger" *ngIf="editCustomerForm.controls.phoneNumber?.errors?.pattern && editCustomerForm.controls.phoneNumber?.touched">
          Sai định dạng
        </p>

        <div class="input-group mb-3">
          <span class="input-group-text">Email</span>
          <input type="email" formControlName="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <p class="text-danger" *ngIf="editCustomerForm.controls.email?.errors?.email && editCustomerForm.controls.email?.touched">
          Sai định dạng
        </p>

        <div class="input-group mb-3">
          <span class="input-group-text">Address</span>
          <input type="text" formControlName="address" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <p class="text-danger" *ngIf="editCustomerForm.controls.address?.errors?.required && editCustomerForm.controls.address?.touched">
          Không được để trống
        </p>

        <div class="input-group mb-3">
          <span class="input-group-text">Customer Type</span>
          <select formControlName="customerType" class="form-select" aria-label="Default select example">
            <option value="0" disabled>Chọn loại khách hàng</option>
            <option value="1">Diamond</option>
            <option value="2">Platinum</option>
            <option value="3">Gold</option>
            <option value="4">Silver</option>
            <option value="5">Member</option>
          </select>
        </div>
        <p class="text-danger" *ngIf="editCustomerForm.controls.customerType?.errors?.required && editCustomerForm.controls.customerType?.touched">
          Không được để trống
        </p>

        <button style="float: right" type="submit" class="btn btn-outline-success">Save changes</button>
      </form>
    </div>
  </div>
</div>
