<div class="container">
<!--title-->
  <div class="row" style="margin-top: 20px">
    <h3 style="text-align: center">Create Facility</h3>
  </div>
<!--end title-->
  <div class="row" style="margin-top: 20px; margin-bottom: 20px">
    <div class="col-12" style="max-width: 60%; margin: 0 auto">
      <form action="">
        <div class="mb-3">
          <button type="button" style="margin-left: 150px" class="btn btn-outline-primary" (click)="addVilla()">
            Add Villa
          </button>
          <button type="button" style="margin-left: 100px" class="btn btn-outline-primary" (click)="addHouse()">
            Add House
          </button>
          <button type="button" style="margin-left: 100px" class="btn btn-outline-primary" (click)="addRoom()">
            Add Room
          </button>
        </div>
        <div class="mb-1">
          <div class="input-group mb-3">
            <span class="input-group-text">Name</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="mb-1">
          <div class="input-group mb-3">
            <span class="input-group-text">Area</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="mb-1">
          <div class="input-group mb-3">
            <span class="input-group-text">Cost</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="mb-1">
          <div class="input-group mb-3">
            <span class="input-group-text">Max people</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="mb-1" id="standardRoom">
          <div class="input-group mb-3">
            <span class="input-group-text">Standard Room</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="mb-1" id="descriptionOtherConvenience">
          <div class="input-group mb-3">
            <span class="input-group-text">Description</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="mb-1" id="poolArea">
          <div class="input-group mb-3">
            <span class="input-group-text">Pool Area</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="mb-1" id="numberOfFloors">
          <div class="input-group mb-3">
            <span class="input-group-text">Number of Floor</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="mb-1" id="facilityFree">
          <div class="input-group mb-3">
            <span class="input-group-text">Facility Free</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="mb-1">
          <div class="input-group mb-3">
            <span class="input-group-text">Rent Type</span>
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <button style="float: right" type="submit" class="btn btn-outline-success">Save changes</button>
      </form>
    </div>
  </div>
</div>
