<div class="row" id="footer">
  <div id="content-footer" class="d-flex">
    <div class="col-md-4" style="background-color: #f3f3f3;">
      <div id="tutorial">
        <div id="center-text" style="margin-top: 20px">
          <p style="color: #cbbe73;"> HƯỚNG DẪN DI CHUYỂN</p>
          <p style="font-size: 12px">Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những
            điểm đến hấp dẫn nhất Châu Á. Chỉ
            cách Đà Nẵng một quãng lái xe ngắn là bốn Di sản Văn hóa Thế giới được UNESCO công nhận:</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="footer-2">
        <div style="margin-top: 20px">
          <ul>
            <li><a href="">Giá công bố</a></li>
            <li><a href="">Tuyển Dụng</a></li>
            <li><a href="">Liên hệ</a></li>
            <li><a href="">Lifestyle Blogs</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="footer-contact">
        <div style="margin-top: 20px">
          <p style="color: #cbbe73; font-size: 20px; font-weight: bold; margin-bottom: 10px">Liên hệ:</p>
          <p style="font-size: 13px"><i class="fa-solid fa-location-dot"></i> 103 - 105 Vo Nguyen Giap
            Street, Khue My Ward, Ngu
            Hanh Son District, Danang City, Vietnam
          <p>Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</p>
          <p>Email: reservation@furamavietnam.com * www.furamavietnam.com</p>
          <p>GDS Codes: Amadeus-GD DADFUR,
            Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU
          </p>
          <hr>
          <!--          <a href=""><i class="fa-brands fa-square-facebook fa-2x"></i></a>-->
          <!--          <a href=""><i class="fa-brands fa-square-instagram fa-2x"></i></i></a>-->
          <!--          <a href=""><i class="fa-brands fa-square-youtube fa-2x"></i></i></a>-->
        </div>
      </div>
    </div>
  </div>
</div>

