<nav class="navbar navbar-expand-lg bg-light" style="border-radius: 1rem; margin: 0 auto; width: 50%">
  <div class="container-fluid" style="margin: 0 auto">
    <div style="margin: 0 auto">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/coach">Bến xe miền tây</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Item</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
