<div class="w-100" style="min-height: 150px; background-color: #5e72e4; position: absolute;"></div>
<div class="container-fluid">
  <!--app-rou-->
  <app-header></app-header>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <!--  &lt;!&ndash;Content Create&ndash;&gt;-->
  <!--  <div class="container-fluid" style="margin-top: 50px; height: 500px;">-->
  <!--    <div style="padding-top: 5px">-->
  <!--      <h4 style="text-align: center">Product Create</h4>-->
  <!--      <div class="col-12" style="max-width: 60%; margin: 0 auto">-->
  <!--        <form>-->

  <!--          <div class="input-group mb-3">-->
  <!--            <span class="input-group-text">Name</span>-->
  <!--            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">-->
  <!--          </div>-->

  <!--          <div class="input-group mb-3">-->
  <!--            <span class="input-group-text">Day Of Birth</span>-->
  <!--            <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">-->
  <!--          </div>-->

  <!--          <div class="input-group mb-3">-->
  <!--            <span class="input-group-text">Price</span>-->
  <!--            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">-->
  <!--          </div>-->

  <!--          <div class="input-group mb-3">-->
  <!--            <div class="form-check">-->
  <!--              <input class="form-check-input" type="radio" value="true" id="flexRadioDefault3">-->
  <!--              <label class="form-check-label" for="flexRadioDefault1">-->
  <!--                On Sale-->
  <!--              </label>-->
  <!--            </div>-->
  <!--            <div class="form-check" style="margin-left: 10px">-->
  <!--              <input class="form-check-input" type="radio" value="false" id="flexRadioDefault4">-->
  <!--              <label class="form-check-label" for="flexRadioDefault2">-->
  <!--                Sold-->
  <!--              </label>-->
  <!--            </div>-->
  <!--          </div>-->

  <!--          <div class="input-group mb-3">-->
  <!--            <span class="input-group-text">Description</span>-->
  <!--            <input type="text" class="form-control" aria-label="Sizing example input"-->
  <!--                   aria-describedby="inputGroup-sizing-default">-->
  <!--          </div>-->

  <!--          <div class="input-group mb-3">-->
  <!--            <span class="input-group-text">Customer Type</span>-->
  <!--            <select class="form-select" aria-label="Default select example">-->
  <!--              <option value="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Choice Category to Search-&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
  <!--            </select>-->
  <!--          </div>-->

  <!--          <button style="float: right" type="submit" class="btn btn-outline-success">Save changes</button>-->
  <!--        </form>-->
  <!--      </div>-->

  <!--    </div>-->
  <!--  </div>-->
  <!--  &lt;!&ndash;End Content Create&ndash;&gt;-->
</div>
