<div class="row" id="header">
  <div id="content-header" class="d-flex">
    <div id="logo"><a routerLink=""><img src="assets/img/logo@2x.png" alt="logo"></a></div>
    <div id="address">
      <p><i class="fa-solid fa-location-dot"></i> 103 – 105 Đường Võ Nguyên Giáp, Phường Khuê Mỹ, Quận Ngũ
        hành Sơn, Tp. Đà Nẵng, Việt Nam</p>
      <p>7.0 km từ Sân bay Quốc tế Đà Nẵng</p>
    </div>
    <div id="contact">
      <p><i class="fa-solid fa-phone"></i> 84-236-3847 333/888</p>
      <p><i class="fa-solid fa-envelope"></i> reservation@furamavietnam.com</p>
    </div>
  </div>
</div>
